body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel {
  width: 50%;
  padding: 1em;
  border: 1px solid black;
}

.positive-balance {
  display: flex;
}

.editForm {
  display: none;
}

.showForm {
  display: inline-block;
}
