body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background:#c7c7c7;
}

.activity {
  background-color: #CAEBF2;
  color: #656363;
  border-radius: 10px;
  border: 5px dashed #90cdda;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  min-width: 80%;
}
.addActivityContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.addNewActivity {
  background-color: #656363;
  color: #CAEBF2;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  min-width: 80%;
}

.createForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 5px;
  margin: .3rem;
}

.summary {
  background-color: #CAEBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #656363;
  border-radius: 10px;
  border: 5px dashed #656363;
  padding: 1rem;
  margin: 1rem;
  max-width: 50%;
  min-width: 50%;
}

h2 {
  color: #FF3B3F;
}
h1 {
  color: #4a4848;
}

p{
  margin: 0.3rem;
}
button {
  color: #656363;
}

.panel {
  width: 70%;
  display: flex;
  margin: 1.5rem auto;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
  background-color: #EFEFEF
}

.positive-balance {
  display: flex;
}

.hideForm {
  display: none;
}

.showForm {
  display: inline-block;
}

.zero {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-family: helvetica;
}

.containIt {
  width: 100%;
  display: flex;
  text-align: center;
}

.barGraphic {
  background-color: #EFEFEF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px #656363 solid;
  padding-top: 2rem;
  width: 50%;
  margin: .3rem 0 .3rem 0;
}

.barGraphic2{
  background-color: #FF3B3F;
  padding-top: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
  margin: .3rem 0 .3rem 0;
}
