<!DOCTYPE html>
<html ng-app=positiveBalance>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <!-- <script src="/client.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script>
        var positiveBalance = angular.module('positiveBalance', []);

        positiveBalance.controller('ActivityController', function ActivityController($scope) {
            $scope.create = {}

            $scope.activityList = [{
                name: 'run',
                moreorless: 1,
                quantity: 1,
                unit: 'mile',
                weight: 6,
                didido: 1,
                howmanyunits: 3
            }];

            $scope.addNewActivity = function() {
                $scope.activityList.push({
                    name: $scope.create.newActivityName,
                    unit: $scope.create.newActivityUnit,
                    quantity: $scope.create.newActivityAmount,
                    moreorless: $scope.create.newActivityMoreorless,
                    weight: $scope.create.newActivityScale
                });
            };

            //  $scope.updateActivity = function(activity) {
            //  	 var index = $scope.activityList.indexOf(activity);
            //  	 if(index > -1){
            //      $scope.activityList[index].howmanyunits = $scope.create.howManyUnits
            //      console.log("activityList after func", $scope.activityList[index]);
            //    }
            //  };

            $scope.updateActivity = function(activity) {
                console.log($scope.activityList)
                // update activity.
                // update summary view

            }
        });
    </script>

    <title>More or Less</title>
</head>

<body ng-controller="ActivityController">

    <form id="newActivity" action="http://localhost:1185/v1/activities" method="post">
        <p class="title">Create new activity</p>

            <div class="inputs">
                <p>I would like to
                    <label for="activityName"></label>
                    <input type="text" ng-model="create.newActivityName" id="activity_name" name="activity_name" placeholder="run, drink, meditate..." />
                <label for="more">more</label>
                <input type="radio" ng-model="create.newActivityMoreorless" value="more" id="more" name="moreorless">
                <label for="less">less</label>
                <input type="radio" ng-model="create.newActivityMoreorless" value="less" id="less" name="moreorless">.
            </div>
            </p>
            <div class="inputs">
                <label for="activity_unit">
                    <p>When I do {{create.newActivityName}}, the smallest amount I might {{create.newActivityName}} is
                </label>
                <label for="min_qty"></label>
                <input type="number" ng-model="create.newActivityAmount" id="min_qty" name="min_qty" placeholder="1, 2..." />
                <input type="text" ng-model="create.newActivityUnit" id="activity_unit" name="activity_unit" placeholder="miles, drink, minutes..." />
            </p>
            </div>
            <div class="inputs">
                <label for="activity_weight">On a scale of 1-10, with 10 being most important, how important is it to me that I {{create.newActivityName}} {{create.newActivityMoreorless}}?</label>
                <br>
                <input type="number" ng-model="create.newActivityScale" id="activity_weight" name="activity_weight" min="1" max="10" placeholder="1-10" />
            </div>
        <br>
        <div class="button">
            <button type="button" ng-click="addNewActivity()">Save new activity</button>
        </div>
    </form>
    <form>
        <p class="title">Update Activities</p>
        <ul>
            <div class="items"  ng-repeat="activity in activityList">
                <form>
                    <p><label for="activity_quantity">How many times did I {{activity.name}} {{activity.quantity}} {{activity.unit}}?</label></p>
                    <input ng-model="activity.howmanyunits" type="number" name="number" id="activity_quantity" />
                    <button type="button" ng-click="updateActivity(activity)">Update {{activity.unit}}</button>
                </form>
            </div>
        </ul>
    </form>
    <form action="">
        <p class="title">Points Summary</p>
            <div class="items" ng-repeat="activity in activityList">
                <p>
                    {{activity.name}}: {{(activity.quantity * activity.howmanyunits) * activity.weight / 10}}
                </p>
            </div>
            <p>
                Daily Total:
            </p>
    </form>

</body>

</html>
