input[type=text]:invalid {
    background: yellow;
}
input[type=number]:invalid {
    background: yellow;
}
.title{
    text-align: center;
    font-weight: bold;
}
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 100%;
    /*max-width: 400px;*/
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
input {
    padding: .5em;
    border-radius: 1em;
}
/*#activity_weight{
    width: 35px;
}
#min_qty{
    width: 45px;
}
#activity_quantity{
    width: 45px;
}*/
/*textarea {
    width: 200px;
}*/
input[type="text"] {
    width: 115px;
}
input[type="number"] {
    width: 45px;
}
button {
    width: 150px;
    padding: .5em;
    border-radius: 1em;
    margin: 1em;
    position: relative;
    align-self: center;
}
